Dans ce TP nous allons découvrir le **langage SQL** (Structured Query Language) qui est le langage utilisé pour effectuer des requêtes sur une base de données relationnelle.

# Analyse préliminaire de la base de données
## Sur quoi allons-nous travailler ?
Nous allons manipuler une base de données permettant de traduire efficacement les informations contenues dans ce tableau résumé (*exemple du cours*) :


Titre | Nom Auteur | Prenom Auteur | Annee Naissance | Annee Publi | Langue | Themes
--- | --- | --- | ---| --- | --- | ---
1984 | Orwell |  George | 1903 |  1949 | Anglais | Totalitarisme, science-fiction, anticipation, Dystopie
Dune | Herbert | Frank | 1920 |  1965 | Anglais | science-fiction, anticipation
Fondation | Asimov | Isaac | 1920 |  1951 | Anglais | science-fiction, Economie
Le meilleur des mondes | Huxley | Aldous | 1894 |  1931 | Anglais | Totalitarisme, science-fiction, anticipation, Dystopie
Fahrenheit 451 | Bradbury | Ray | 1920 |  1953 | Anglais | science fiction, dystopie
Ubik | K. Dick  | Philip | 1928 |  1969 | Anglais | science-fiction, anticipation
Chroniques martiennes | Bradbury | Ray | 1920 |  1950 | Anglais | science-fiction, anticipation
La nuit des temps | Barjavel | René | 1911 |  1968 | Anglais | science-fiction, tragédie
Blade Runner | K. Dick | Philip | 1928 |  1968 | Anglais | Intelligence artificielle, science fiction
Les Robots | Asimov | Isaac | 1920 |  1950 | Anglais | Totalitarisme, science-fiction, anticipation, Dystopie
La Planète des singes | Boulle | Pierre | 1912 |  1963 | Francais | Totalitarisme, science-fiction, anticipation, Dystopie
Ravage | Barjavel | René | 1911 |  1943 | Francais | Science-Fiction, aventure
Le Maître du Haut Château| K. Dick | Philip | 1928 |  1962 | Anglais | Dystopie, Uchronie
Le monde des A | Van Vogt | Alfred | 1912 |  1945 | Anglais | science fiction, IA
La Fin de l’éternité | Asimov | Isaac | 1920 |  1955 | Anglais | science-fiction, voyage dans le temps
De la Terre à la Lune| Verne | Jules | 1828 |  Francais | Anglais | Science-Fiction, aventure


La base est déjà créée, et partiellement remplie.

L'objectif est d’interroger et de faire des mises à jour dans cette base. Cette base est constituée de 5 tables :
- Auteur
- Livre
- Langue
- Theme
- RelationLivreTheme

## Schéma des tables
Le schéma relationnel des tables est donné dans le cours.

Prendre le temps de consulter le schéma détaillé de chaque table : observer en particulier les types des attributs et relever les clefs primaires (PRIMARY  KEY) ou clefs étrangères (FOREIGN KEY) dans chaque table.

Par exemple, l'attribut IdLangue est la clef primaire de la relation Langue. C'est aussi une clef étrangère pour la relation Auteur.

## Lire le contenu d'une table : SELECT * FROM Table;

Nous allons écrire une première **requête d’interrogation** avec la commande **SELECT** afin de récupérer le contenu d'une table. Ces requêtes peuvent être beaucoup plus sophistiquées comme on le verra dans le 2ème TP. Pour le moment, nous nous contenterons de la forme la plus simple :

In [1]:
SELECT * FROM Langue;

IdLangue	Langue
1	Anglais
2	Français


On voit ainsi apparaître le contenu de la table.

**Attention :** Les requêtes SQL **se terminent toujours par un point-virgule**.
Elles peuvent s'écrire sur plusieurs lignes.
Elles sont non sensibles à la casse, mais c'est une bonne pratique que d'écrire toutes les commandes SQL en majuscules.

## Insérer des enregistrements :  INSERT INTO Table VALUES (données) ;

### Exemple : table Langue

Visualiser son contenu actuel :

In [2]:
-- a vous de jouer
SELECT * FROM Langue;

IdLangue	Langue
1	Anglais
2	Français

Pour remplir une table avec des données, il faut utiliser une requête **INSERT**.

Voici par exemple comment on a  rempli la table Langue :

    INSERT INTO Langue VALUES (1, "Anglais"), (2, "Français");

On peut refaire une autre requête INSERT à la suite si on souhaite ajouter encore des données
au bout de la table.

Ajouter ainsi une langue Espagnol et Allemand. Puis afficher (requête d’interrogation) le contenu de la table.

In [3]:
-- a vous de jouer
INSERT INTO Langue VALUES (3, "Espagnol"), (4, "Allemand");

SELECT * FROM Langue;

IdLangue	Langue
1	Anglais
2	Français
3	Espagnol
4	Allemand


Essayer d’exécuter la requête suivante :

In [4]:
INSERT INTO Langue VALUES (2, "Turc");

Error: UNIQUE constraint failed: Langue.IdLangue

Expliquer l’origine du message d’erreur qui apparaît.

## Table Auteur

Compléter la table Auteur afin que celle-ci reflète les informations suivantes (penser à
revoir le schéma de la table) :


Nom |  Prenom |  annee naissance |  langue
---  |---  |--- | --- 
Orwell |  George |  1903 |  Anglais
Herbert |  Frank |  1920 |  Anglais
Asimov |  Isaac |  1920 |  Anglais
Huxley |  Aldous |  1894 |  Anglais
Bradbury |  Ray |  1920 |  Anglais
K. Dick |  Philip |  1928 |  Anglais
Barjavel |  René |  1911 |  Français
Boulle |  Pierre |  1912 |  Français
Van Vogt | Alfred Elton  |  1912 |  Anglais
Verne |  Jules |  1828 |  Français

Une nouveauté apparaît ici : la table Auteur possède une **clef étrangère** définie par la ligne :

    FOREIGN KEY(IdLangue) REFERENCES Langues(IdLangue)

Celle-ci permet de déclarer une **contrainte de référence** sur cette clef afin d’indiquer à au SGBD
que IdLangue est une clef étrangère. LE SGBD sera alors responsable de maintenir la cohérence
entre les deux tables que l’on a ainsi reliées.
Si on essaie d’entrer un enregistrement avec une valeur qui n’existe pas pour une
clef étrangère, le SGBD envoie un message d’erreur.

In [5]:
-- a vous de jouer
INSERT INTO Auteur VALUES
(8, "Boulle", "Pierre", 2, 1912),
(9, "Van Vogt", "Alfred Elton", 1, 1912),
(10, "Verne", "Jules", 2, 1828)
;

In [6]:
-- cellule de contrôle
SELECT * FROM Auteur;

IdAuteur	NomAuteur	PrenomAuteur	IdLangue	AnneeNaissance
1	Orwell	George	1	1903
2	Herbert	Frank	1	1920
3	Asimov	Isaac	1	1920
4	Huxley	Aldous	1	1894
5	Bradbury	Ray	1	1920
6	K. Dick	Philip	1	1928
7	Barjavel	René	2	1911
8	Boulle	Pierre	2	1912
9	Van Vogt	Alfred Elton	1	1912
10	Verne	Jules	2	1828

## La table Livre

1. Observer le schéma de la table Livre et afficher son contenu avec une requête SELECT.

2. Ajouter les 3 livres manquants : "La planète des singes", "Le monde des A" et "De la
Terre à la Lune". *(les informations nécessaires sont résumées dans le tableau présenté en début de TP)*

3. Aurait-on pu créer ces livres avant d’avoir complété la table Auteur ? Justifier.

In [7]:
-- à vous de jouer (afficher le contenu de la relation Livre)
SELECT * FROM Livre

IdLivre	Titre	IdAuteur	AnneePubli
1	1984	1	1949
2	Dune	2	1965
3	Fondation	3	1951
4	Le meilleur des mondes	4	1931
5	Fahrenheit 451	5	1953
6	Ubik	6	1969
7	Chroniques martiennes	5	1950
8	La nuit des temps	7	1968
9	Blade Runner	6	1968
10	Les Robots	3	1950
11	Ravage	7	1943
12	Le Maître du Haut Château	6	1962
13	La fin de l'éternité	3	1955

In [8]:
-- a vous de jouer (ajouter les 3 livres manquants)
INSERT INTO Livre VALUES
(14, "La planète des singes", 8, 1963),
(15, "Le monde des A", 9, 1945),
(16, "De la Terre à la Lune", 10, 1865)
;
    
SELECT * FROM Livre;

IdLivre	Titre	IdAuteur	AnneePubli
1	1984	1	1949
2	Dune	2	1965
3	Fondation	3	1951
4	Le meilleur des mondes	4	1931
5	Fahrenheit 451	5	1953
6	Ubik	6	1969
7	Chroniques martiennes	5	1950
8	La nuit des temps	7	1968
9	Blade Runner	6	1968
10	Les Robots	3	1950
11	Ravage	7	1943
12	Le Maître du Haut Château	6	1962
13	La fin de l'éternité	3	1955
14	La planète des singes	8	1963
15	Le monde des A	9	1945
16	De la Terre à la Lune	10	1865

## La table Theme
Traitons à présent la problématique des Thèmes. Cette table doit lister tous les thèmes qui
peuvent correspondre aux livres de la base.

1. Observer le schéma de la table Theme et afficher son contenu avec une requête SELECT.

2. Trouver le thème qui a été oublié, et l’ajouter à la table.

*(les informations nécessaires sont résumées dans le tableau présenté en début de TP)*

In [9]:
-- a vous de jouer (Afficher tous les thèmes)
SELECT * FROM Theme;

IdTheme	Intitule
1	Science-fiction
2	Totalitarisme
3	Anticipation
4	Dystopie
5	Economie
6	Tragédie
7	Uchronie
8	Voyage dans le temps
9	Aventure

In [10]:
-- a vous de jouer (ajouter le thème manquant, puis afficher la liste des thèmes)
INSERT INTO Theme VALUES (10, "Intelligence artificielle");
SELECT * FROM Theme;

IdTheme	Intitule
1	Science-fiction
2	Totalitarisme
3	Anticipation
4	Dystopie
5	Economie
6	Tragédie
7	Uchronie
8	Voyage dans le temps
9	Aventure
10	Intelligence artificielle

## Une dernière table manquante
La saisie de notre base de donnée est incomplète ! Nous avons en effet saisi tous les auteurs, tous les livres, toutes les langues, tous les thèmes et pourtant il manque une information. Laquelle ?

Pour solutionner ce problème, la table RelationLivreTheme contient l’information manquante en mettant en relation les livres et les thèmes associés.

1. Observer le schéma de la table RelationLivreTheme et afficher son contenu avec une  requête SELECT.
2. Quelle est sa clef primaire ? Quelle est particularité par rapport aux clefs primaires qu’on a rencontrées dans les autres tables ?
3. Possède-t-elle des clefs étrangères ? Si oui, lesquelles ?
4. Ajouter à cette table les enregistrements nécessaires pour que les Livres qui font références au thème "Intelligence artificielle" soient correctement pris en compte.
5. Enfin, ajouter à cette table les enregistrements décrivant les thèmes des 3 livres ajoutés plus tôt.

In [11]:
-- a vous de jouer (afficher le contenu de la table RelationLivreTheme)
SELECT * FROM RelationLivreTheme;

IdLivre	IdTheme
1	2
1	1
1	3
1	4
2	1
2	3
3	1
3	5
4	2
4	1
4	4
5	1
5	4
6	1
6	3
7	1
7	3
8	1
8	6
9	1
10	1
11	1
11	4
12	1
12	3
13	4
13	8

In [12]:
-- a vous de jouer (Ajouter les livres avec le thème Intelligence artififielle)
INSERT INTO RelationLivreTheme VALUES
(9, 10),
(10, 10),
(15, 10)
;

In [13]:
-- a vous de jouer (Ajouter les thèmes des derniers livres ajoutés)
INSERT INTO RelationLivreTheme VALUES
            (14, 1),
            (14, 4),
            (15, 1),
            (16, 1),
            (16, 9)
            ;

## Contrôle du travail jusqu’à présent
Vérifier que les livres sont bien associés aux bons thèmes en exécutant la commande suivante
*(explications de cette requête dans la suite du TP...)* :

In [14]:
SELECT Titre, Intitule FROM RelationLivreTheme
JOIN Livre ON Livre.IdLivre = RelationLivreTheme.IdLivre
JOIN Theme ON Theme.IdTheme = RelationLivreTheme.IdTheme
ORDER BY Titre;

Titre	Intitule
1984	Totalitarisme
1984	Science-fiction
1984	Anticipation
1984	Dystopie
Blade Runner	Science-fiction
Blade Runner	Intelligence artificielle
Chroniques martiennes	Science-fiction
Chroniques martiennes	Anticipation
De la Terre à la Lune	Science-fiction
De la Terre à la Lune	Aventure
Dune	Science-fiction
Dune	Anticipation
Fahrenheit 451	Science-fiction
Fahrenheit 451	Dystopie
Fondation	Science-fiction
Fondation	Economie
La fin de l'éternité	Dystopie
La fin de l'éternité	Voyage dans le temps
La nuit des temps	Science-fiction
La nuit des temps	Tragédie
La planète des singes	Science-fiction
La planète des singes	Dystopie
Le Maître du Haut Château	Science-fiction
Le Maître du Haut Château	Anticipation
Le meilleur des mondes	Totalitarisme
Le meilleur des mondes	Science-fiction
Le meilleur des mondes	Dystopie
Le monde des A	Intelligence artificielle
Le monde des A	Science-fiction
Les Robots	Science-fiction
Les Robots	Intelligence artificielle
Ravage	Science-fiction
Ravage	Dystopie
Ubik	Science-fiction
Ubik	Anticipation

Vérifier les autres informations sur les livres en exécutant la commande suivante
*(explications de cette requête dans la suite du TP...)* :

In [15]:
SELECT Titre, NomAuteur, PrenomAuteur, AnneeNaissance, Langue, AnneePubli
FROM Livre JOIN Auteur ON Auteur.IdAuteur = Livre.IdAuteur
JOIN Langue ON Langue.IdLangue = Auteur.IdLangue;

Titre	NomAuteur	PrenomAuteur	AnneeNaissance	Langue	AnneePubli
1984	Orwell	George	1903	Anglais	1949
Dune	Herbert	Frank	1920	Anglais	1965
Fondation	Asimov	Isaac	1920	Anglais	1951
Le meilleur des mondes	Huxley	Aldous	1894	Anglais	1931
Fahrenheit 451	Bradbury	Ray	1920	Anglais	1953
Ubik	K. Dick	Philip	1928	Anglais	1969
Chroniques martiennes	Bradbury	Ray	1920	Anglais	1950
La nuit des temps	Barjavel	René	1911	Français	1968
Blade Runner	K. Dick	Philip	1928	Anglais	1968
Les Robots	Asimov	Isaac	1920	Anglais	1950
Ravage	Barjavel	René	1911	Français	1943
Le Maître du Haut Château	K. Dick	Philip	1928	Anglais	1962
La fin de l'éternité	Asimov	Isaac	1920	Anglais	1955
La planète des singes	Boulle	Pierre	1912	Français	1963
Le monde des A	Van Vogt	Alfred Elton	1912	Anglais	1945
De la Terre à la Lune	Verne	Jules	1828	Français	1865