<div class="alert alert-success">

# P3-2 : Traitement de données en table:  
    
1. Recherche dans une table
2. Cohérence d'un table

</div>

<h2 class="alert alert-info">Recherche dans une table</h2>

<div class="alert alert-danger">
    
## Principe de la recherche dans une table :

Il s'agit essentiellement de sélectionner les lignes d’une table vérifiant des critères exprimés en logique propositionnelle. On parcourt linéairement l'ensemble des enregistrements de la table et on compare certains attributs des enregistrements avec des critères cibles.
    
**Remarque** : si la table respecte un ordre de tri, le parcourt de la table pourrait se faire plus efficacement que de manière linéaire *(voir recherche dichotomique)*.


</div>

<div class="alert alert-warning">
    
# Exo 1a : rechercher le code numérique identifiant la région Normandie avec un tableau doublement indexé.
On exploitera le fichier `region-19.csv`

1) Importer les données à propos des régions de France dans une variable `regions` qui sera un **tableau de tableaux**.

2) Afficher la liste des descripteurs de la table et le 1er enregistrement de la table `regions`. 

*Remarque :* le champ `reg` (str) est le code numérique d'une région, et le champ `ncc` (str) est le nom de la région en lettres capitales :
    
**Relever les indices de ces champs** dans la liste des descripteurs.

3) Écrire une fonction `code_region(table, nom_region)` qui prend en paramètres la table de données sur les régions (`regions`) et le nom d'une région (str) et qui renvoie le code de cette région.

4) Utiliser cette fonction pour trouver le code de la région Normandie.
    
</div>

In [1]:
# 1) import des données grâce au module csv
import csv

with open('region-19.csv', 'r', encoding='utf-8') as source:
    regions = list(csv.reader(source, delimiter=';'))

In [2]:
# 2) liste des descripteurs (1ere ligne du fichier csv)
regions[0]

['reg', 'cheflieu', 'tncc', 'ncc', 'nccenr', 'libelle']

On note dans la liste des descripteurs que 'reg' est à l'indice 0, et 'ncc' est à l'indice 3.

In [3]:
#  3) fonction qui renvoie le code d'une région (v1)
def code_region(table, nom_region):
    for i in range(len(table)):                # parcourt de la table par indice
        if table[i][3] == nom_region.upper():  # indice 3 correspond au champ 'ncc'
            return table[i][0]                 # indice 0 correspond au champ 'reg'

In [4]:
#  3) fonction qui renvoie le code d'une région (v2)
def code_region(table, nom_region):
    for region in table:                     # parcourt de la table par élément
        if region[3] == nom_region.upper():  # indice 3 correspond au champ 'ncc'
            return region[0]                 # indice 0 correspond au champ 'reg'

In [5]:
# 4) recherche du code la région Normandie
code_region(regions, 'normandie')

'28'

<div class="alert alert-warning">
    
# Exo 1b : rechercher le code numérique identifiant la région Normandie avec un tableau de p-uplets .
On exploitera le même fichier `region-19.csv`

1) importer les données à propos des régions de France dans une variable `regions` qui sera un **tableau de p-uplets nommés** (càd une liste de dictionnaires en Python).

2) afficher le 1er élément de la table `regions`. 

(Remarque : le champ `reg` est le code numérique d'une région, et le champ `ncc` est le nom de la région en lettres capitales)

3) écrire une fonction `code_region(table, nom_region)` qui prend en paramètres la table de données sur les régions (`regions`) et le nom d'une région (str) et qui renvoie  le code de cette région.

4) utiliser cette fonction pour trouver le code de la région Normandie.
    
</div>

In [6]:
# 1) import des données grâce au module csv
with open('region-19.csv', 'r', encoding='utf-8') as source:
    regions = list(csv.DictReader(source, delimiter=';'))

In [7]:
# 2) affichage de la 1ère région dans le fichier
print(regions[0])

{'reg': '01', 'cheflieu': '97105', 'tncc': '3', 'ncc': 'GUADELOUPE', 'nccenr': 'Guadeloupe', 'libelle': 'Guadeloupe'}

In [8]:
# 3) fonction qui renvoie le code d'une région
def code_region(table, nom_region):
    for region in table:                        # parcourt de la table par éléments
        if region['ncc'] == nom_region.upper(): # on accède à la valeur d'une donnée 
            return region['reg']                # avec la clef du p-uplet nommé

In [9]:
# 4) recherche du code la région Normandie
code_region(regions, 'normandie')

'28'

<div class="alert alert-warning">
    
# Exo 2 :  rechercher tous les départements de la région Normandie
On exploitera le fichier `departement-19.csv`

1) importer les données à propos des départements de France dans une variable `departements` qui sera un tableau de p-uplets nommés.

2) afficher le 1er élément de la table de `departements`. 


3) écrire une fonction `departements_region(table, code_region)` qui prend en paramètres la table de données sur les départements (`departements`) et le code d'une région (str) et qui renvoie une liste des noms des départements de cette région.

4) utiliser cette fonction pour obtenir les départements de la région Normandie.
</div>

In [10]:
# 1) import des données
with open('departement-19.csv', 'r', encoding='utf-8') as source:
    departements = list(csv.DictReader(source, delimiter=','))

In [11]:
# 2) affichage du 1er département
print(departements[0])

{'dep': '01', 'reg': '84', 'cheflieu': '01053', 'tncc': '5', 'ncc': 'AIN', 'nccenr': 'Ain', 'libelle': 'Ain'}

In [12]:
# 3) fonction qui renvoie les départements d'une région
def departements_region(table, code_region):
    return [departement['nccenr'] for departement in table if departement['reg'] == code_region]

In [13]:
# 4) départements de la région Normandie
departements_region(departements, code_region(regions, 'normandie'))

['Calvados', 'Eure', 'Manche', 'Orne', 'Seine-Maritime']

<div class="alert alert-warning">
    
# Exo 3 :  rechercher toutes les villes de France de plus de 150 000 habitants
On exploitera le fichier `villes_simplifie.csv`

1) Importer les données à propos des villes de France dans une variable `villes` qui sera un tableau de p-uplets nommés.

2) Afficher 'joliment' pour le 1er élément de la table de `villes` chacune de ses clefs et leur valeur associée.

On attend une réponse du genre :

    nom : AAST
    dpt_numero : 64
    commune_code : 64460
    etc ...

3) Combien y a-t-il de villes en France (listées dans ce fichier) ?

4) Créer une liste des villes de plus de 150 000 hab en 2010, appelées `grandes_villes`

5) Afficher le nom et la population de ces villes en 2010.
</div>

In [14]:
# 1) import des données
with open('villes_simplifie.csv', newline='', encoding='utf-8') as source:
    villes = list(csv.DictReader(source, delimiter=';'))

In [15]:
# 2) affichage des clefs et valeurs de la 1ere ville
for clef, valeur in villes[0].items():
    print(f"{clef} : {valeur}")

nom : AAST
dpt_numero : 64
code_postal : 64460
commune_code : 64001
Population_2010 : 192
Population_1999 : 191
Densite_2010 : 40
surface : 4,75
longitude_degre : -0,083333
latitude_degre : 43,2833
longitude_DMS : -525
latitude_DMS : 431721
altitude_mini : 367
altitude_maxi : 393

In [16]:
# 3) nb de villes en France
len(villes)

36568

In [17]:
# 4) liste des villes de plus de 200 000 habitants
# avec une utilisation d'une fonction qui prend en paramètre la limite demandée (ici 100 000)
def pop(table, pop_mini):
    return [ville for ville in table if int(ville['Population_2010']) > pop_mini]

grandes_villes = pop(villes, 150_000)

In [18]:
# 5) affichage des villes de plus de 100 000 habitants
print(len(grandes_villes))
for v in grandes_villes:
    print(v['nom'], v['Population_2010'] )

17
BORDEAUX 239157
DIJON 151212
GRENOBLE 155637
LE HAVRE 175497
LILLE 227560
LYON 484344
MARSEILLE 850726
MONTPELLIER 257351
NANTES 284970
NICE 343304
PARIS 2243833
REIMS 179992
RENNES 207178
SAINT-ETIENNE 171260
STRASBOURG 271782
TOULON 164532
TOULOUSE 441802

<div class="alert alert-warning">
    
# Exo complémentaire *(pour les rapides)* : Chercher les villes au Nord Ouest de Paris de plus de 100 000 habitants en 2010
    
1) écrire une fonction `extrait_ville(table, nom_ville) ` qui prend en paramètres une table de villes et le nom d'une ville et extrait un dictionnaire des infos sur cette ville.

2) écrire une fonction `affiche_ville(ville) ` qui prend en paramètre le dictionnaire d'une ville et affiche les clefs suivantes avec leur valeur :  'nom', 'Population_2010', 'longitude_DMS', 'latitude_DMS'

3) extraire et afficher les infos sur Paris

4) chercher la liste des villes de plus de 100 000 habitants au nord-ouest de Paris, puis les afficher.

*Aide* : la **latitude augmente vers le Nord** et la **longitude augmente vers l'est** (positive à l'est du méridien de Greenwich et négative à l'ouest)

*Remarque* : certaines villes ont une latitude ou longitude de valeur 'NULL', on ne tiendra pas compte de ces villes dans la recherche.
</div>

In [19]:
# 1)fonction pour extraire les infos d'une ville
def extrait_ville(table, nom_ville):
    for ville in table:
        if ville['nom'] == nom_ville.upper():
            return ville

In [20]:
# 2) fonction qui sélectionne quelques infos à afficher sur une ville
def affiche_ville(ville):
    for clef in ('nom', 'Population_2010', 'longitude_DMS', 'latitude_DMS'):
        print(f"{clef} : {ville[clef]}")

In [21]:
# 3) extraction et affichage des infos sur Paris
paris = extrait_ville(villes, 'Paris')

affiche_ville(paris)

nom : PARIS
Population_2010 : 2243833
longitude_DMS : 22040
latitude_DMS : 485136

In [22]:
# 4) grandes villes au nord-ouest de Paris 

# a- on enregistre les coordonnées de Paris
lat, lon = int(paris['latitude_DMS']), int(paris['longitude_DMS'])

# b- on sélectionne les villes avec une population suffisante
# de plus grande longitude que Paris (au nord)
# et de plus petite  latitude que Paris (à l'ouest)
grandes_villes_NO_paris = [ville for ville in villes  if  
                   int(ville['Population_2010']) > 100_000
                   and int(ville['latitude_DMS']) > lat 
                   and int(ville['longitude_DMS']) < lon]

# affichage du résultat :
for ville in grandes_villes_NO_paris:
    affiche_ville(ville)
    print()

nom : AMIENS
Population_2010 : 133448
longitude_DMS : 21752
latitude_DMS : 495331

nom : ARGENTEUIL
Population_2010 : 103125
longitude_DMS : 21451
latitude_DMS : 485652

nom : CAEN
Population_2010 : 108954
longitude_DMS : -2214
latitude_DMS : 491056

nom : LE HAVRE
Population_2010 : 175497
longitude_DMS : 716
latitude_DMS : 492956

nom : ROUEN
Population_2010 : 110933
longitude_DMS : 10609
latitude_DMS : 492635

<h2 class="alert alert-info">Tests de cohérence</h2>

<div class="alert alert-danger">
    
## Problèmes de cohérence possibles.

Il arrive (problème assez fréquent) que les données présentent des problème de cohérence.
   
En effet, lors de la collecte initiale des données, il peut arriver que celles-ci soient incomplètes (des valeurs d'attributs sont manquantes) ou bien que les formats saisis ne soient pas cohérents sur l'ensemble des données (divers formats de dates par exemple).
    
Il faut donc bien s'assurer de la cohérence des données avant de se lancer dans un traitement automatique.


</div>

<div class="alert alert-warning">
    
# Exo 4 : Tests de cohérence

On a récupéré les réponses à une enquête comportant l'identité des 100 personnes interrogées, leur numéro de téléphone et une somme d'argent déclarée librement ! On avait dit aux gens que celui qui déclarerait la somme la plus proche de la valeur moyenne de toutes les réponses empocherait cette somme ! Les réponses sont consignées dans le fichier `enquete.csv`.

1) Importer les données à propos de l'enquête dans une variable `data` qui sera un tableau de tableaux.

Puis afficher les descripteurs de cette table.

2) Afficher les noms de famille et les sommes déclarées par les 10 premières personnes.

3) Chercher tous les gens qui ont déclaré une somme de plus de 50$.

ATTENTION : c'est une question piège ! Ça ne va pas être possible (enfin, pas de façon simple en tout cas) : le "vrai" exercice est d'expliquer pourquoi.

</div>

In [23]:
# 1) import des données
with open('enquete.csv', newline='', encoding='utf-8') as source:
    data = list(csv.reader(source, delimiter=';'))
    
print(data[0])

['Nom', 'Prenom', 'Somme', 'Telephone']

In [24]:
# 2) 10 premières personnes, et leur somme
for i in range(1, 11):
    print(data[i][0], data[i][2])

Aidan $40.94
James $87.21
Linda 8,56
Dylan $22.46
Fiona 6,33
Farrah $30.61
Dawn 728,56$
Aquila 381,96$
Kenyon 0,11
Martin 1,12

3) Vous l'avez compris, les sommes d'argents ont été entrées dans **différents formats** et il est impossible de faire un traitement direct car **les données ne sont pas cohérentes.**

<div class="alert alert-warning">
    
# Exo 4 : suite...

On propose alors de rendre cette table cohérente en parcourant tous les enregistrements de la table et après avoir effectué un test, remettre les données au même format.

On choisira d'écrire toutes les données de somme au format numérique xxx.xx (sans signe monétaire, et avec un point comme séparateur décimal).
- On commencera par créer une copie nommée `data_OK` de la table `data` pour contenir ces données formatées de façon cohérente.

        data_OK = data.deepcopy()

- Ensuite on remplace l'éventuelle virgule par un point (avec la méthode `replace` des chaines de caratères) : 
        
        ex : >>> "2,45".replace(',', '.')
             "2.45"
- Puis on supprime le $ en début de chaine ou fin de chaine si nécessaire : 

        ex : >>> "$2.45"[1:]
             "2.45"
        
        ex : >>> "2.45$"[:-1]
             "2.45'"
On pourra utiliser les méthodes `startswith` ou `endswith` des chaines de caractères.
</div>

In [25]:
# ne pas supprimer cette ligne !!!
from copy import deepcopy

In [26]:
# 4) Mise en forme des sommes
data_OK = deepcopy(data)
for d in data_OK:
    d[2] = d[2].replace(',', '.')
    if d[2].startswith('$'):
        d[2] = d[2][1:]
    elif d[2].endswith('$'):
        d[2] = d[2][:-1]

print(data_OK[:10])

[['Nom', 'Prenom', 'Somme', 'Telephone'], ['Aidan', 'Lawrence', '40.94', '07 44 32 96 96'], ['James', 'Christian', '87.21', '01 62 01 70 96'], ['Linda', 'Alden', '8.56', '02 07 10 14 56'], ['Dylan', 'Forrest', '22.46', '08 43 01 87 09'], ['Fiona', 'Ferris', '6.33', '02/93/19/05/47'], ['Farrah', 'Drew', '30.61', '01 79 20 87 87'], ['Dawn', 'Vera', '728.56', '05/14/71/32/27'], ['Aquila', 'Dale', '381.96', '01/71/20/33/04'], ['Kenyon', 'Burke', '0.11', '06 16 13 19 82']]

<div class="alert alert-warning">
    
# exo complémentaire (pour les rapides) : rendre cohérent aussi les numéros de téléphone.
On pourra choisir un format xxxxxxxxxx (10 chiffres sans séparation !).

Si un numéro est vraiment incohérent (s'il n'y a pas 10 chiffres par exemple), on remplace la valeur par 000000000 (dix zéros de suite)

On pourra ainsi aussi afficher tous les enregistrements pour lesquels le numéro n'est pas exploitable.
</div>

In [27]:
for d in data_OK:
    d[3] = d[3].replace('/', '')
    d[3] = d[3].replace(' ', '')
    
print(data_OK[:10])

[['Nom', 'Prenom', 'Somme', 'Telephone'], ['Aidan', 'Lawrence', '40.94', '0744329696'], ['James', 'Christian', '87.21', '0162017096'], ['Linda', 'Alden', '8.56', '0207101456'], ['Dylan', 'Forrest', '22.46', '0843018709'], ['Fiona', 'Ferris', '6.33', '0293190547'], ['Farrah', 'Drew', '30.61', '0179208787'], ['Dawn', 'Vera', '728.56', '0514713227'], ['Aquila', 'Dale', '381.96', '0171203304'], ['Kenyon', 'Burke', '0.11', '0616131982']]

In [28]:
def tel_OK(tel):
    if len(tel) != 10:
        return False
    for i in tel:
        if i not in '0123456789':
            return False
    return True

for d in data_OK[1:]:
    if not tel_OK(d[3]):
        print(d[3])
        d[3] = '0000000000'
        print(d)

0558aa2580
['Octavia', 'Brandon', '8.6', '0000000000']
+33231741315
['Gareth', 'McKenzie', '907.24', '0000000000']
+3319048091
['Ashton', 'Uta', '1.21', '0000000000']

['Lila', 'Yoko', '4.64', '0000000000']
07578241
['Chaney', 'Urielle', '5.96', '0000000000']

['Mufutau', 'Gray', '4.04', '0000000000']

<h2 class="alert alert-info">Recherche de doublons</h2>

<div class="alert alert-danger">
Les doublons sont des enregistrements identiques qui apparaissent plusieurs fois dans une table (cela peut arriver de façon volontaire, mais aussi parfois parce que la table a été mal créée au départ).

Il peut être intéressant de pouvoir détecter les doublons et éventuellement de les éliminer.
</div>

<div class="alert alert-warning">
    
# Exo 5 : Chercher les doublons de la liste `data` et les éliminer.

**Procédure :**
1. Créer une liste vide `data_unique` : cette liste contiendra tous les éléments uniques, sans doublons.

Créer une liste vide `doublons` : cette liste contiendra tous les éléments apparaissant plusieurs fois dans la table.

2. Parcourir tous les éléments de la liste `data` (boucle for externe indice i). Si l'élément n'est pas dans la liste `doublons`, l'ajouter à la liste `data_unique`.
3. Parcourir tous les éléments **suivants** de la liste `data` à la recherche d'un doublon (boucle for interne indice j). Si un élément est un doublon, on l'ajoute dans la liste `doublons`.
    
**Vérification** : afficher les tailles (len) des listes `data` et `data_unique` (*réponse attendue : 101, 92*).
</div>

In [29]:
doublons = []
data_unique = []
for i in range(len(data)):
    if data[i] not in doublons:
        data_unique.append(data[i])
    for j in range(i+1, len(data)):
        if data[j] == data[i]:
            doublons.append(data[j])

In [30]:
print(len(doublons), doublons)

9 [['Fiona', 'Ferris', '6,33', '02/93/19/05/47'], ['Aquila', 'Dale', '381,96$', '01/71/20/33/04'], ['Alana', 'Garrett', '4,16', '06 38 97 78 64'], ['Amber', 'Isaac', '553,26$', '07/22/92/42/50'], ['Arden', 'April', '$8.84', '05 05 36 89 54'], ['Andrew', 'Arthur', '9,27', '02 61 00 41 57'], ['Maia', 'Abbot', '6,17', '02/00/16/36/66'], ['Miranda', 'Kennan', '8,32', '05/52/15/53/20'], ['Kyra', 'Prescott', '$31.30', '06 47 55 32 03']]

In [31]:
len(data), len(data_unique)

(101, 92)