<div class="alert alert-success">

# P3-3 : Traitement de données en table:  Tri de tables

</div>

<h2 class="alert alert-info">COURS</h2>

<div class="alert alert-danger">
    
# Le tri avec Python
    
### Fonctionnalité de base : `sorted` et `sort` (pour les listes)

Python contient deux fonctions principales pour le tri de collections : `sort` et `sorted` : 
https://docs.python.org/fr/3/howto/sorting.html

La méthode `sort` trie une liste **en place** : c'est à dire que l'expression `liste.sort()` **modifie** la liste en la triant.

La fonction `sorted` appliquée à une liste renvoie une **copie de la liste triée**, mais la liste d'origine reste "intacte".

*Remarque* : `sort` est une méthode réservée aux listes, tandis que `sorted` est une fonction qui s'applique à toute collection.


</div>

<div class="alert alert-warning">
    
## Découvrir le tri de Python, et distinguer tri en place ou non.

Exécutez les cellues suivantes pour analyser les techniques de tri avec l'outil Python tutor.
</div>

In [1]:
# Pour une utilisation avec une installation de Jupyter personnelle
from metakernel import register_ipython_magics
register_ipython_magics()

In [2]:
# Pour une utilisation avec Jupyter BASTHON
#from tutor import tutor

In [3]:
%%tutor  # Jupyter personnel
# exemple 
l = [4, 5, 7, 2, -1, 9]

l_triee = sorted(l)

print(l)
print(l_triee)
#tutor() # Jupyter Basthon

In [4]:
%%tutor  # Jupyter personnel
l = [4, 5, 7, 2, -1, 9]
l.sort()

print(l)
#tutor() # Juyter Basthon

<div class="alert alert-danger">
    
## Tri croissant ou décroissant : 

Ces fonctions de tri acceptent un paramètre optionnel `reverse` qui permet de trier la liste dans le sens décroissant s'il vaut `True`.
</div>

<div class="alert alert-warning">
    
Exécutez les cellules suivantes pour analyser l'effet du paramètre **reverse**.
    
</div>

In [5]:
l = [4, 5, 7, 2, -1, 9]
print(l)

l.sort(reverse=True)
print(l)

[4, 5, 7, 2, -1, 9]
[9, 7, 5, 4, 2, -1]

<div class="alert alert-danger">
    
## Tri selon une clef spécifique
Considérons une liste de tuples que nous souhaitons trier suivant tel ou tel élément des tuples.

Par exemple, une liste de personnes identifiées par leur nom, prénom, âge, ville. On peut souhaiter trier cette liste de gens par nom, puis prénom ou par âge par exemple.

Dans ce cas, on exploite le paramètre `key` en lui passant une fonction qui détermine la façon de trier : voir exemple ci-dessous.
</div>

<div class="alert alert-warning">
    
Exécutez les cellules suivantes pour analyser l'exploitation du paramètre **reverse**.
    
</div>

In [6]:
carnet = [('Martin', 'Franck', 12, 'Caen'),
         ('Henri', 'Philippe', 42, 'Nice'),
         ('Lavoisier', 'Antoine', 12, 'Tours'),
         ('Martin', 'Antoine', 17, 'Caen'),
         ('Lovelace', 'Ada', 36, 'Londres'),
         ]

In [7]:
# tri 1 : c'est le tri par défaut = tri par le 1er élément des tuples (ici le nom de famille, ordre alphabétique)
carnet_defaut = sorted(carnet)
print("\nTri par défaut :")
for personne in carnet_defaut:
    print(personne)

# tri 2 : par âge (nombre entier en tri croissant)
def clef_tri(personne):
    """ Fonction qui défnit le critère de tri.
    Entrée : type d'objet à trier (ici une 'personne' qui est implémentée par un tuples de 4 valeurs).
    Sortie : l'élément particulier de l'objet qui sert de clef de tri (ici l'élément d'indice n°2 du tuple).
    """
    return personne[2]

carnet_age = sorted(carnet, key=clef_tri)
print("\nTri âge croissant :")
for personne in carnet_age:
    print(personne)

Tri par défaut :
('Henri', 'Philippe', 42, 'Nice')
('Lavoisier', 'Antoine', 12, 'Tours')
('Lovelace', 'Ada', 36, 'Londres')
('Martin', 'Antoine', 17, 'Caen')
('Martin', 'Franck', 12, 'Caen')

Tri âge croissant :
('Martin', 'Franck', 12, 'Caen')
('Lavoisier', 'Antoine', 12, 'Tours')
('Martin', 'Antoine', 17, 'Caen')
('Lovelace', 'Ada', 36, 'Londres')
('Henri', 'Philippe', 42, 'Nice')

<div class="alert alert-warning">
    
**EXERCICE** : 
    
1. Trier le carnet par ordre alphabétique de la ville.

2. Trier le carnet par longueur décroissante du nom de famille (voilà bien un critère étrange, je vous l'accorde !)
    
</div>

In [8]:
# tri 3 : par nom de ville (ordre alphabétique)
def clef_2(personne):
    return personne[3]

carnet_ville = sorted(carnet, key=clef_2)
print("\nTri ville décroissant :")
for personne in carnet_ville:
    print(personne)
    
# tri 4 : par longueur décroissante de nom (pourquoi pas ?)
def clef_3(personne):
    return len(personne[0])

carnet_nom_long = sorted(carnet, key=clef_3, reverse=True)
print("\nTri longueur nom croissante :")
for personne in carnet_nom_long:
    print(personne)

Tri ville décroissant :
('Martin', 'Franck', 12, 'Caen')
('Martin', 'Antoine', 17, 'Caen')
('Lovelace', 'Ada', 36, 'Londres')
('Henri', 'Philippe', 42, 'Nice')
('Lavoisier', 'Antoine', 12, 'Tours')

Tri longueur nom croissante :
('Lavoisier', 'Antoine', 12, 'Tours')
('Lovelace', 'Ada', 36, 'Londres')
('Martin', 'Franck', 12, 'Caen')
('Martin', 'Antoine', 17, 'Caen')
('Henri', 'Philippe', 42, 'Nice')

<div class="alert alert-danger">
    
### Complément sur les fonctions anonymes : `lambda`
Python (comme d'autres langages) permet de définir des fonctions sans nom, qu'on utilise en général à un seul endroit de son code.

La syntaxe s'appuie sur le mot clef `lambda` et prend la forme générale : ``` lambda parametres : valeur_a_renvoyer ```

*Exemple :*
    
    >>> (lambda x : 2*x + 3)(5)   # calcule f(5) avec f(x) = 2x+1
    13
</div>

In [9]:
# exemple où une fonction lambda est utilisée pour définir directement la clef de tri
carnet_id_long = sorted(carnet, key=lambda pers : len(pers[0]) + len(pers[1]), reverse=True)
print("\nTri selon la longueur nom + prénom décroissante :")
for personne in carnet_id_long:
    print(personne)

Tri selon la longueur nom + prénom décroissante :
('Lavoisier', 'Antoine', 12, 'Tours')
('Henri', 'Philippe', 42, 'Nice')
('Martin', 'Antoine', 17, 'Caen')
('Martin', 'Franck', 12, 'Caen')
('Lovelace', 'Ada', 36, 'Londres')

<div class="alert alert-warning">
    
**EXERCICE** : Reprendre les tris précédents en utilisant une fonction lambda dans chaque cas.
    
</div>

In [10]:
# tri 2 : par âge (nombre entier en tri croissant)
carnet_age = sorted(carnet, key=lambda p:p[2])
print("\nTri âge croissant :")
for personne in carnet_age:
    print(personne)
    
# tri 4 : par longueur décroissante de nom 
carnet_nom_long = sorted(carnet, key=lambda p:len(p[0]), reverse=True)
print("\nTri longueur nom croissante :")
for personne in carnet_nom_long:
    print(personne)

Tri âge croissant :
('Martin', 'Franck', 12, 'Caen')
('Lavoisier', 'Antoine', 12, 'Tours')
('Martin', 'Antoine', 17, 'Caen')
('Lovelace', 'Ada', 36, 'Londres')
('Henri', 'Philippe', 42, 'Nice')

Tri longueur nom croissante :
('Lavoisier', 'Antoine', 12, 'Tours')
('Lovelace', 'Ada', 36, 'Londres')
('Martin', 'Franck', 12, 'Caen')
('Martin', 'Antoine', 17, 'Caen')
('Henri', 'Philippe', 42, 'Nice')

<h2 class="alert alert-info">APPLICATION</h2>

###  On charge à nouveau la table concernant les communes de France (dans une liste de dictionnaires) :

In [11]:
import csv

In [12]:
with open('villes_simplifie.csv', newline='', encoding='utf-8') as source:
    villes = list(csv.DictReader(source, delimiter=';'))

# exemple (1ère ville de la table) :
villes[0]

{'nom': 'AAST',
 'dpt_numero': '64',
 'code_postal': '64460',
 'commune_code': '64001',
 'Population_2010': '192',
 'Population_1999': '191',
 'Densite_2010': '40',
 'surface': '4,75',
 'longitude_degre': '-0,083333',
 'latitude_degre': '43,2833',
 'longitude_DMS': '-525',
 'latitude_DMS': '431721',
 'altitude_mini': '367',
 'altitude_maxi': '393'}

<div class="alert alert-warning">
    
# Travail préparatoire sur la liste des villes
Le fichier source contient des données qui ne seront pas utiles pour les exercices.

On va donc commencer par préparer les données de la table `villes` avant de les exploiter.
</div>

<div class="alert alert-warning">
    
1) Écrire une fonction `selection(table, attributs)` qui extrait certaines colonnes (identifiées par leur attribut) depuis une table qui contient de nombreuses colonnes.

Se référer à la *docstring* de la fonction pour réaliser le travail souhaité.
</div>

In [13]:
def selection(table, attributs):
    """ Renvoie une table qui contient seulement certaines colonnes d'une table d'origine.
    Entrées :
    - table : la table d'origine dont on veut extraire des données (liste de dictionnaires).
    - attributs : liste contenant les attributs identifiants les colonnes à sélectionner.
    (Exple : attributs = ['nom', 'code_postal'] pour ne conserver que ces attributs)
    """
    # A VOUS DE JOUER
    return [{clef:valeur for (clef, valeur) in enregistrement.items() if clef in attributs} for enregistrement in table]

<div class="alert alert-warning">
    
2) À l'aide de la fonction précédente, on extrait les colonnes  *'nom', 'dpt_numero', 'Population_2010', 'longitude_DMS', 'latitude_DMS', 'altitude_mini', et 'altitude_maxi'*  de la liste des villes.

La nouvelle liste est enregistrée dans la variable `villes`.
</div>

In [14]:
attributs = ['nom', 'dpt_numero', 'Population_2010', 'longitude_DMS', 'latitude_DMS', 'altitude_mini', 'altitude_maxi']
villes = selection(villes, attributs)

# exemple (1ère ville de la table) :
villes[0]

{'nom': 'AAST',
 'dpt_numero': '64',
 'Population_2010': '192',
 'longitude_DMS': '-525',
 'latitude_DMS': '431721',
 'altitude_mini': '367',
 'altitude_maxi': '393'}

<div class="alert alert-warning">
    
3) Les fonctions suivantes permettront un affichage plaisant des listes de villes. 
    Assurez-vous simplement de comprendre le rôle de la fonction `presente` afin de pouvoir l'utiliser par la suite.
</div>

In [15]:
def affiche(ville):
    """ Affiche les données sur une ville de façon "agréable". """
    largeurs = [27, 12] + [15]*5 # espacements requis pour l'affichage des colonnes
    for (attribut, largeur) in zip(attributs, largeurs):
        print(f"{ville[attribut].rjust(largeur)}", end=' ')
    print()

def presente(villes, deb, fin):
    """  Affiche les données sur une sélection de villes de la table entre les indices deb (inclus) et fin (exclu). """
    affiche({a:a for a in attributs})
    for i in range(deb, fin):
        affiche(villes[i])
        
# test : présente les 5 premières villes de la table
presente(villes, 0, 5)

                        nom   dpt_numero Population_2010   longitude_DMS    latitude_DMS   altitude_mini   altitude_maxi
                       AAST           64             192            -525          431721             367             393
                 ABAINVILLE           55             298           52940          483153             282             388
                  ABANCOURT           59             448           31248          501403              36              70
                  ABANCOURT           60             646           14554          494149             170             222
                  ABAUCOURT           54             298           61529          485349             182             235

## On dispose désormais d'un jeu de données exploitables et d'une fonction permettant de visualiser correctement les listes de villes.

<div class="alert alert-warning">
    
#### EX 1- Trier la liste des villes par n° de département croissant et afficher quelques communes (classement de la 10000ème à 10010ème).
Enregistrer le résultat dans une variable `villes_pop`.
</div>

In [16]:
### BEGIN SOLUTION
villes_pop = sorted(villes, key=lambda v:v['dpt_numero'])
### END SOLUTION

presente(villes_pop, 10000, 10010)

                        nom   dpt_numero Population_2010   longitude_DMS    latitude_DMS   altitude_mini   altitude_maxi
                      LEZAN           30            1460           40302          440047             104             180
                      LIOUC           30             244           35956          435339              65             443
                      LIRAC           30             882           44124          440210              88             266
            LOGRIAN-FLORIAN           30             272           40144          435721              74             186
                     LUSSAN           30             480           42159          440911             110             345
             MALONS-ET-ELZE           30             105           40123          442503             219             997
                  MANDAGOUT           30             386           33731          440115             239            1240
                    MANDUEL           30            5690           42824          434906              50              77
               MARGUERITTES           30            8634           42638          435136              41             197
                       MARS           30             174           33325          435959             345            1168

<div class="alert alert-warning">
    
#### EX 2- Trier la liste des villes par *altitude_mini* décroissante et afficher les 10 villes les plus hautes de France.
Enregistrer le résultat dans une variable `villes_alt_min`.
</div>

In [17]:
### BEGIN SOLUTION
villes_alt_min = sorted(villes, key=lambda v:int(v['altitude_mini']), reverse=True)
### END SOLUTION
presente(villes_alt_min, 0, 10)

                        nom   dpt_numero Population_2010   longitude_DMS    latitude_DMS   altitude_mini   altitude_maxi
                VAL-D'ISERE           73            1563           65838          452659            1785            3599
           BONNEVAL-SUR-ARC           73             241           70247          452216            1759            3642
                SAINT-VERAN            5             257           65206          444200            1756            3175
                    BESSANS           73             343           65937          451912            1673            3754
         MOLINES-EN-QUEYRAS            5             315           65036          444351            1625            3160
        CAUDIES-DE-CONFLENT           66              13           20941          423402            1616            2045
                     LARCHE            4              74           65048          442705            1606            3165
                   RISTOLAS            5              90           65720          444625            1571            3294
            PORTE-PUYMORENS           66             131           14954          423254            1557            2827
                LA LLAGONNE           66             242           20715          423135            1546            2196

<div class="alert alert-warning">
    
#### EX 3- Trier la liste des villes par *altitude_maxi* décroissante et comparer "le top 10" à la liste précédente.
Enregistrer le résultat dans une variable `villes_alt_max`.
</div>

In [18]:
### BEGIN SOLUTION
villes_alt_max = sorted(villes, key=lambda v:int(v['altitude_maxi']), reverse=True)
### END  SOLUTION
presente(villes_alt_max, 0, 10)

                        nom   dpt_numero Population_2010   longitude_DMS    latitude_DMS   altitude_mini   altitude_maxi
        CHAMONIX-MONT-BLANC           74            8972           65208          455520             995            4807
    SAINT-GERVAIS-LES-BAINS           74            5694           64249          455333             571            4807
                LES HOUCHES           74            3018           64755          455324             796            4280
                    PELVOUX            5             467           62912          445209            1179            4099
 SAINT-CHRISTOPHE-EN-OISANS           38             114           61037          445726            1168            4008
                   LA GRAVE            5             488           61821          450246            1135            3976
             VILLAR-D'ARENE            5             287           62013          450234            1519            3883
    LES CONTAMINES-MONTJOIE           74            1193           64345          454918             999            3880
       CHAMPAGNY-EN-VANOISE           73             679           64133          452716             960            3855
                  TERMIGNON           73             418           64901          451639            1277            3855

<div class="alert alert-warning">
    
#### EX 4- Trier la liste des villes par dénivellé décroissant (plus grand écart entre altitude_maxi et altitude_mini).
Enregistrer le résultat dans une variable `villes_denivelle`.
</div>

In [19]:
### BEGIN SOLUTION
villes_denivelle = sorted(villes, key=lambda v:int(v['altitude_maxi'])-int(v['altitude_mini']), reverse=True)
### END SOLUTION
presente(villes_denivelle, 0, 10)

                        nom   dpt_numero Population_2010   longitude_DMS    latitude_DMS   altitude_mini   altitude_maxi
    SAINT-GERVAIS-LES-BAINS           74            5694           64249          455333             571            4807
        CHAMONIX-MONT-BLANC           74            8972           65208          455520             995            4807
                LES HOUCHES           74            3018           64755          455324             796            4280
        BOURG-SAINT-MAURICE           73            7705           64607          453700             744            3823
 SAINT-MARTIN-DE-BELLEVILLE           73            2543           63016          452249             640            3564
                    PELVOUX            5             467           62912          445209            1179            4099
                 VILLAROGER           73             400           65228          453528             859            3779
       CHAMPAGNY-EN-VANOISE           73             679           64133          452716             960            3855
                 LES ALLUES           73            1867           63323          452551             680            3564
    LES CONTAMINES-MONTJOIE           74            1193           64345          454918             999            3880

<div class="alert alert-warning">
    
#### EX 5- Chercher la ville la plus au nord de France.
Enregistrer le résultat dans une variable `villes_nord`.
</div>

In [20]:
### BEGIN SOLUTION
villes_nord = sorted(villes[1:], key=lambda v:int(v['latitude_DMS']), reverse=True)
### END SOLUTION
presente(villes_nord, 0, 1)

                        nom   dpt_numero Population_2010   longitude_DMS    latitude_DMS   altitude_mini   altitude_maxi
                 BRAY-DUNES           59            4666           23139          510416               0              29

<div class="alert alert-warning">
    
#### EX 6- Chercher les 5 villes les plus à l'ouest du département du Calvados.
Il faut d'abord sélectionner la sous-liste des villes du Calvados puis chercher les plus à l'ouest.

Enregistrer le résultat dans une variable `villes_14_ouest`.
</div>

In [21]:
# sélection d'abord par code postal pour regrouper les villes du Calvados
# puis tri par longitude croissante pour avoir d'abord les plus à l'ouest


### BEGIN SOLUTION
villes_14 = [ville for ville in villes if ville['dpt_numero'] == '14']
print(len(villes_14))

villes_14_ouest = sorted(villes_14, key=lambda v:int(v['longitude_DMS']))
### END SOLUTION
presente(villes_14_ouest, 0, 5)

706
                        nom   dpt_numero Population_2010   longitude_DMS    latitude_DMS   altitude_mini   altitude_maxi
       SAINT-AUBIN-DES-BOIS           14             224          -10743          484945             129             218
               FONTENERMONT           14             142          -10615          484925             170             255
             ISIGNY-SUR-MER           14            2803          -10608          491904               0              37
           NEUILLY-LA-FORET           14             464          -10556          491615               0              57
           GEFOSSE-FONTENAY           14             130          -10537          492154               0              32

<div class="alert alert-warning">
    
#### EX 7- Chercher si Caen ou Hérouville-Saint-Clair font partir des 50 villes les plus peuplées françaises
Ou chercher quel est le rang de classement de Hérouville dans les villes les plus peuplées.

Enregistrer le résultat dans une variable `villes_pop`.
</div>

In [22]:
### BEGIN SOLUTION
villes_pop = sorted(villes, key=lambda v:int(v['Population_2010']), reverse=True)
### END SOLUTION
for ville_test in ['CAEN', 'HEROUVILLE-SAINT-CLAIR']:
    for ville in villes_pop[:50]:
        if ville_test == ville['nom']:
            print(ville)

{'nom': 'CAEN', 'dpt_numero': '14', 'Population_2010': '108954', 'longitude_DMS': '-2214', 'latitude_DMS': '491056', 'altitude_mini': '2', 'altitude_maxi': '73'}

In [23]:
### BEGIN SOLUTION
villes_pop = sorted(villes, key=lambda v:int(v['Population_2010']), reverse=True)
### END SOLUTION
for ville in villes_pop[:50]:
    if ville['nom'] in ['CAEN', 'HEROUVILLE-SAINT-CLAIR']:
        print(ville)

{'nom': 'CAEN', 'dpt_numero': '14', 'Population_2010': '108954', 'longitude_DMS': '-2214', 'latitude_DMS': '491056', 'altitude_mini': '2', 'altitude_maxi': '73'}

In [24]:
for ville_test in ['PARIS', 'CAEN', 'HEROUVILLE-SAINT-CLAIR']:
    i = 0
    while ville_test != villes_pop[i]['nom']:
        i += 1
    print(i, ville_test)

0 PARIS
34 CAEN
384 HEROUVILLE-SAINT-CLAIR

<div class="alert alert-warning">
    
#### EX 8- on peut encore chercher d'autres critères sur les villes de France...
</div>